<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bankingwebtemp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>bankingwebtemp.services.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmountDeposit</display-name>
    <servlet-name>AmountDeposit</servlet-name>
    <servlet-class>bankingwebtemp.services.AmountDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountDeposit</servlet-name>
    <url-pattern>/AmountDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmountWithdraw</display-name>
    <servlet-name>AmountWithdraw</servlet-name>
    <servlet-class>bankingwebtemp.services.AmountWithdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountWithdraw</servlet-name>
    <url-pattern>/AmountWithdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserr</display-name>
    <servlet-name>LoginUserr</servlet-name>
    <servlet-class>bankingwebtemp.services.LoginUserr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserr</servlet-name>
    <url-pattern>/LoginUserr</url-pattern>
  </servlet-mapping>
</web-app>